@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ServeRest</h1>
    <p>O <a target="_blank" href="https://serverest.dev/">ServeRest</a> é uma API REST gratuita que simula uma loja virtual com intuito de servir de material de estudos de testes de API.</p>
</div>
